$font-family-sans-serif: "Ubuntu",
"Microsoft JhengHei",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$blue: #2484E0 !default;
$indigo: #6610f2 !default;
$purple: #772953 !default;
$pink: #e83e8c !default;
$red: #E02426 !default;
$orange: #E08024 !default;
$yellow: #E0DE24 !default;
$green: #1E8644 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
// $primary:       $orange !default;
// $secondary:     $gray-500 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-200 !default;
// $dark:          $purple !default;
@import "~bootswatch/dist/united/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/united/bootswatch";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: $orange;
}

* {
  outline: 0;
}